.wrapper {
    max-width: 900px;
    margin: 1rem 1rem 0;
}

.cv-background {
    color: #0c0c0d;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0rem;
    padding: 0rem;
    font-size: 1rem;
    line-height: 0.7rem;
    background-color: #5c6066;
}

.cv-grid-view {
    display: grid;
    grid: auto-flow / 1fr 2fr;
    gap: 1rem;
}

.title-period-flex {
    display: flex;
    line-height: 1.2rem;
    text-align: left;
    margin-top: 0.7rem;
}

.glass-card {
    border: 0rem solid;
    border-color: transparent;
    border-radius: 1.5rem;
    background: #f5f5f5;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2rem);
    margin-bottom: 1rem;
    padding: 1rem 1.6rem;
    z-index: 2;
    text-align: justify;
}

.glass-card-me {
    background: #f5f5f5;
}

.glass-card-sidebar {
    background: #f5f5f5;
}

.side-bar-title {
    color: #f7ad00;
    text-transform: uppercase;
    font-size: 1rem;
}

.side-bar-name {
    color: #f24d24;
}

.lyft {
    color: rgb(255, 0, 191);
    font-weight: bold;
}

.main-color {
    color: #0c0c0d;
    font-weight: bold;
}

img {
    vertical-align: middle;
    object-fit: cover;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.side-bar-links {
    color: #0c0c0d;
}

.i {
    background-repeat: no-repeat;
    background-size: cover;
    height: 1rem;
    width: 1rem;
    margin-right: 0.2rem;
    display: inline-block;
}

.i-location {
    background-image: url('./static/pin.svg');
}

.i-work {
    background-image: url('./static/work.svg');
}

.i-telegram {
    background-image: url('./static/tg.svg');
}

.i-email {
    background-image: url('./static/email.svg');
}

.i-medium {
    background-image: url('./static/medium.svg');
}

.i-github {
    background-image: url('./static/github.svg');
}

.i-linkedin {
    background-image: url('./static/linkedin.svg');
}

.about-block-1 {
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    line-height: 3;
    display: flex;
    align-items: center;
}

.about-block-2 {
    list-style: none;
    margin: 0rem;
}

.about-block-2 li {
    display: flex;
    align-items: center;
}

.sidebar-text {
    text-align: left;
}

hr {
    border: 0.06rem solid #4ca694;
    border-radius: 1.5rem;
    margin-top: 1rem;
}

ul {
    padding: 0rem;
    margin-bottom: 0.2rem;
    list-style-type: disc;
    margin-left: 1rem;
    line-height: 1.4rem;
}

.education {
    line-height: 1.5rem;
    margin-top: 0rem;
}

.work-experience-header {
    color: #4ca694;
    margin-bottom: 1.5rem;
}

.job-title {
    font-weight: bold;
    color: #0c0c0d;
    font-size: 1rem;
}

.location-work-period {
    font-style: italic;
    text-align: end;
    margin-left: auto;
    color: #226e5f;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 0.8rem 0rem 0.8rem;
}

h3 {
    margin: 0.8rem;
}

h4.job-title {
    margin-bottom: 0rem;
}

p {
    margin: 0.4rem 0;
}

@media(max-width: 625px){
    .cv-grid-view {
        grid: auto-flow / 1fr;
    }
    
    img {
        width: 20rem;
        height: 20rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

@media(max-width: 390px){
    img {
        width: 15rem;
        height: 15rem;
    }
}
